{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    
{% endfor %}

{% if name %}
    <h1>Utilisateur mis à jour !</h1>
    <table class="table table-striped table-hover table-bordered">
        {% for our_user in our_users %}
            <tr>
            <td>{{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }}</td>
            </tr>
        {% endfor %}
    </table>
 
{% else %}
    <h1>Mise à jour des informations</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form action = "/update/{{ name_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(
            class="form-label") }} <!-- le label de name de la classe Namerform -->

        {{ form.name(
            class="form-control", 
            value = name_to_update.name ) }}

        {{ form.email.label(
            class="form-label") }} <!-- le label de name de la classe Namerform -->

        {{ form.email(
            class="form-control", 
            value = name_to_update.email ) }}
    <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
    </div>  
<br/><br/><br/>
{% endif %}

{% endblock %}